body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: monospace;
  overflow: hidden; /* scroll'u engeller */
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100vw;
  max-height: 100vh;
  width: auto;
  height: auto;
  z-index: 0;
  object-fit: contain;
}
