body {
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
  font-family: monospace;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: auto;
  z-index: 0;
}

.object {
  position: absolute;
  z-index: 10;
  padding: 4px 8px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px dashed teal;
  font-size: 14px;
  color: teal;
  text-decoration: none;
}
